:root {
  --main-title-color: #212121;
  --second-title-color: #757575;
  --hero-bg: #c4c4c4;
  --main-hover-focus-color: #2196f3;
  --second-hover-focus-color: #188ce8;
  --main-text-bg-color: #ffffff;
  --footer-bg: #2f303a;
  --filter-bg: #f5f4fa;
  --logo-studio: #000000;
  --footer-mail-tel: rgba(255, 255, 255, 0.6);
  --portfolio-item-bg-border: #eeeeee;
  --header-bottom-border: #ececec;
  --clients-border: #afb1b8;
  --footer-social-link-background: rgba(255, 255, 255, 0.1);
  --portfolio-overlay: rgba(33, 150, 243, 0.9);
  --about-overlay-bg: rgba(47, 48, 58, 0.8);
  --modal-form-input-border: rgba(33, 33, 33, 0.2);
  --subscribe-input-info-border: rgba(255, 255, 255, 0.3);
  --subscribe-input-info-text: rgba(255, 255, 255, 0.6);
  --modal-form-input-comment: rgba(117, 117, 117, 0.5);
  --modal-close-btn: #000000;
  --hero-gradient: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-title-color);
  background-color: var(--main-text-bg-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.pointer {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.current {
  color: var(--main-hover-focus-color);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  background-color: var(--main-hover-focus-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.header {
  border-bottom: 1px solid var(--header-bottom-border);
  position: relative;
}
.header .container {
  display: flex;
  align-items: center;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header .container {
    height: 80px;
  }
}
.header-logo {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-studio {
  color: var(--logo-studio);
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}
.navigation__list {
  display: flex;
  column-gap: 30px;
}
.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--main-hover-focus-color);
}

.contacts {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    flex-direction: row;
    gap: 30px;
  }
}
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--main-hover-focus-color);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-hover-focus-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--main-text-bg-color);
}
.menu .menu-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 20px;
}
@media screen and (min-width: 382px) {
  .menu .menu-container {
    padding-left: 40px;
  }
}
.menu.is-open {
  display: block;
}
@media screen and (min-width: 768px) {
  .menu.is-open {
    display: none;
  }
}
.menu-button {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
  margin-left: auto;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button:hover, .menu-button:focus {
  color: var(--main-hover-focus-color);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button .menu-icon-cross {
  display: none;
}
.menu-button.is-open .menu-icon-cross {
  display: block;
}
.menu-button.is-open .menu-icon-burger {
  display: none;
}
.menu-icon-cross {
  fill: currentColor;
}
.menu-navigation__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.menu-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-navigation__link:hover, .menu-navigation__link:focus {
  color: var(--main-hover-focus-color);
}
.menu-current {
  color: var(--main-hover-focus-color);
}
.menu-wrap {
  margin-top: auto;
}
.menu-contacts__list {
  margin-bottom: 64px;
}
.menu-contacts__tel {
  display: block;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-hover-focus-color);
  margin-bottom: 32px;
}
@media screen and (min-width: 382px) {
  .menu-contacts__tel {
    font-size: 34px;
  }
}
.menu-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contacts__mail:hover, .menu-contacts__mail:focus {
  color: var(--main-hover-focus-color);
}
.menu-socials__list {
  display: flex;
}
.menu-socials__item {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-socials__item:first-child {
  padding-left: 0;
}
.menu-socials__item:last-child {
  border-right: none;
  padding-right: 0px;
}
.menu-socials__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--main-hover-focus-color);
}
@media screen and (min-width: 415px) {
  .menu-socials__link {
    font-size: 18px;
  }
}

.hero {
  background: var(--hero-bg);
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__overlay {
  max-width: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-image: var(--hero-gradient), url(..//../images/hero/hero-mob1x.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: var(--hero-gradient), url(..//../images/hero/hero-mob2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: var(--hero-gradient), url(..//../images/hero/hero-tab1x.jpg);
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: var(--hero-gradient), url(..//../images/hero/hero-tab2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    background-image: var(--hero-gradient), url(..//../images/hero/hero-desk1x.jpg);
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: var(--hero-gradient), url(..//../images/hero/hero-desk2x.jpg);
  }
}

.offer__title {
  display: block;
  max-width: 360px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-text-bg-color);
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 389px) {
  .offer__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .offer__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.offer__btn {
  display: block;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-style: inherit;
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-text-bg-color);
  background-color: var(--main-hover-focus-color);
  border: transparent;
  border-radius: 4px;
  box-shadow: transparent;
  margin: 0 auto;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.offer__btn:hover, .offer__btn:focus {
  background: var(--second-hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .offer__btn {
    width: 216px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms;
  overflow-y: scroll;
  padding: 94px 15px;
  z-index: 2;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 100%;
  height: 609px;
  position: relative;
  background-color: var(--main-text-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  fill: var(--modal-close-btn);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--main-hover-focus-color);
}
.modal__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 349px) {
  .modal__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 480px) {
  .modal__title {
    font-size: 20px;
  }
}
.modal-btn {
  display: block;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-text-bg-color);
  background-color: var(--main-hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: var(--second-hover-focus-color);
}

.input-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.input-wrap__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-title-color);
  margin-bottom: 4px;
}
.input-wrap__field {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-form-input-border);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.input-wrap__field:focus {
  border: 1px solid var(--main-hover-focus-color);
}
.input-wrap__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap__field:focus + .input-wrap__icon {
  fill: var(--main-hover-focus-color);
}

.comment-wrap {
  margin-bottom: 20px;
}
.comment-wrap__label {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--modal-form-input-comment);
  border: 1px solid var(--modal-form-input-border);
  border-radius: 4px;
  padding: 12px 16px;
  outline: transparent;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-wrap__label:focus {
  border: 1px solid var(--main-hover-focus-color);
}
.comment-wrap__label::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--modal-form-input-comment);
}

.agreement {
  display: inline-block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .agreement {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}
.agreement span {
  display: flex;
  content: "";
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-title-color);
  border-radius: 2px;
  margin-right: 8.38px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .agreement span {
    display: inline-block;
  }
}
.agreement__check-icon {
  fill: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement__conditions {
  color: var(--main-hover-focus-color);
}

.input-check:checked + .agreement span {
  background-color: var(--main-hover-focus-color);
  border: none;
}

.input-check:checked + .agreement .agreement__check-icon {
  fill: var(--main-text-bg-color);
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--filter-bg);
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .advantages__wrap {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__wrap {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__wrap {
    width: 270px;
  }
}

.advantages__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
@media screen and (min-width: 480px) {
  .advantages__text {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    width: 270px;
  }
}

.about {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.activities__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.activities__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.activities__img-over {
  position: relative;
}

.activities__over-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-bg-color);
  background-color: var(--about-overlay-bg);
}

.team {
  background: var(--filter-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.staff__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .staff__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.staff__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.staff__bg {
  max-width: 450px;
  height: auto;
  background: var(--main-text-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .staff__bg {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .staff__bg {
    max-width: 270px;
  }
}

.staff__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.staff__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.staff__profession {
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 16px;
}

.staff-social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.staff-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--clients-border);
  background-color: var(--main-text-bg-color);
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.staff-social__link:hover, .staff-social__link:focus {
  color: var(--main-text-bg-color);
  background-color: var(--main-hover-focus-color);
}

.staff-social__icon {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.companies__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .companies__title {
    font-size: 36px;
  }
}

.companies__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .companies__list {
    flex-wrap: nowrap;
  }
}

.companies__item {
  width: calc(50% - 15px);
}
@media screen and (min-width: 480px) {
  .companies__item {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .companies__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .companies__item {
    width: 170px;
  }
}

.companies__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  color: var(--clients-border);
  border: 1px solid var(--clients-border);
  border-radius: 4px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.companies__link:hover, .companies__link:focus {
  color: var(--main-hover-focus-color);
  border: 1px solid var(--main-hover-focus-color);
}

.companies__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--footer-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    flex-direction: row;
    align-items: baseline;
  }
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.footer-studio {
  color: var(--main-text-bg-color);
}

.company-info {
  width: 232px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .company-info {
    width: 231px;
    margin-right: 70px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .company-info__join-us {
    display: flex;
    align-items: baseline;
    padding-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .company-info__join-us {
    gap: 165px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .company-info__join-us {
    padding-right: 0;
  }
}
.company-info__item {
  margin-bottom: 9px;
}
.company-info__text {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-bg-color);
  margin-bottom: 9px;
}
@media screen and (max-width: 1199px) {
  .company-info__text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.company-info__link {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-mail-tel);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company-info__link:hover, .company-info__link:focus {
  color: var(--main-hover-focus-color);
}
@media screen and (max-width: 1199px) {
  .company-info__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.join-us {
  width: 100%;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .join-us {
    width: 206px;
  }
}
@media screen and (min-width: 1200px) {
  .join-us {
    margin-bottom: 0;
    margin-right: 93px;
  }
}
.join-us__text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-bg-color);
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .join-us__text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.join-us__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.join-us__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-social-link-background);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--main-text-bg-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join-us__link:hover, .join-us__link:focus {
  background-color: var(--main-hover-focus-color);
}

.subscribe {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .subscribe {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    position: relative;
    width: 570px;
  }
}
.subscribe__text {
  display: block;
  width: 207px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-bg-color);
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .subscribe__text {
    margin-right: auto;
    margin-left: auto;
  }
}
.subscribe__input-info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--subscribe-input-info-text);
  background-color: transparent;
  border: 1px solid var(--subscribe-input-info-border);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
}
@media screen and (min-width: 1200px) {
  .subscribe__input-info {
    width: 358px;
  }
}
.subscribe__input {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}
.subscribe__input-info::placeholder {
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  line-height: 1.25;
  color: var(--subscribe-input-info-text);
}
.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-text-bg-color);
  background-color: var(--main-hover-focus-color);
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background-color: var(--second-hover-focus-color);
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.subscribe__icon {
  margin-left: 10px;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 15px;
  gap: 8px;
  max-width: 326px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter__list {
    max-width: 100%;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

.filter__btn {
  font-weight: 500;
  font-style: inherit;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: var(--filter-bg);
  border-radius: 4px;
  border: transparent;
  padding: 6px 20px;
  transition-property: background-color, border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--main-text-bg-color);
  background: var(--main-hover-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__btn-current {
  background: var(--main-hover-focus-color);
  color: var(--main-text-bg-color);
}

.catalog {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .catalog {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio__link {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__link {
    width: 370px;
  }
}

.portfolio__wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__bg {
  background: var(--main-text-bg-color);
}

.portfolio__overlay {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-text-bg-color);
  background-color: var(--portfolio-overlay);
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 390px) {
  .portfolio__overlay {
    overflow-y: scroll;
  }
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0%);
}

.portfolio__info {
  border: 1px solid var(--portfolio-item-bg-border);
  border-top: 0;
  padding: 20px 24px;
  flex-grow: 1;
}

.portfolio__list-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.portfolio__list-text {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}/*# sourceMappingURL=main.css.map */