:root {
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --accent-color:#2196F3;
  --primary-white-color:#FFFFFF;
  --accent-white-color:rgba(255, 255, 255, 0.6);
  --background-color:#2F303A;
  --background-white-color:#F5F4FA;
}
ul{list-style: none;}
body{
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color)
}
/* Шапка */
.header{
  display: flex;
  height: 80px;
  width: 1600px;
  left: 15px;
  top: 0px;
}
.header .link:hover,
.header .link:focus,
.adress-link .link:focus,
.adress-link .link:hover,
.adress-link .link-map:focus,
.adress-link .link-map:hover{
  color: var(--accent-color);
  transition-duration: 0.4s;
}

/* logo */
.logo{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}
.logo.top{
  color:#000000;
  width: 145px;
  height: 31px;
}
.logo.bot{
  color: var(--primary-white-color);
  width: 145px;
  height: 31px;
}
.web {
  color: var(--accent-color);
}

/* nav */
.site-nav{
  width: 281px;
  height: 16px;
  left: 453px;
  top: 32px;
  }
.site-nav .link{
  color: var(--title-text-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  float: left;
}
.contacts .link {
  color: var(--primary-text-color);
  height: 16px;
  top: 32px;
}
.link.mail{
  width: 135px;
  left: 1078px;
}
.link.tel{
  width: 122px;
  left: 1263px;
}
/* hero */

.hero,
.footer{
  background-color:var(--background-color);
}
.hero{
  height: 600px;
  width: 1600px;
  left: 0px;
  top: 80px;
  border-radius: 0px;
  text-align: center;
}
.hero-name{
  color:var(--primary-white-color);
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

/* buttons */


.buttons{
  color: var(--title-text-color);
  background-color:var(--background-white-color);
  height: 38px;
  top: 174px;
  border-radius: 4px;
  transition-duration: 0.4s;
  float:inline-end;
  cursor: pointer;
  border: none;
}
.buttons.prime{
  color:var(--primary-white-color);
  background-color:var(--accent-color);
  box-shadow: 0px 4px 4px 0px #00000040;
  height: 50px;
  width: 216px;
  left: 692px;
  top: 430px;
  border-radius: 4px;
  position: absolute;
}
.buttons.prime:hover,
.buttons.prime:focus,
.buttons.prime:active{
  color: var(--background-white-color);
}

.buttons.second{
  color:var(--title-text-color);
  background-color:var(--background-white-color);
}
.buttons.second:hover,
.buttons.second:focus,
.buttons.second:active{
  color: var(--primary-white-color);
  background-color:var(--accent-color);
  box-shadow: 0px 4px 4px 0px #00000040;
}

/* section */
.invizible{display: none;}

.team{
  background-color:var(--background-white-color);
}

.section-title,
.title{
  color: var(--title-text-color);
}

.text{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;

}

 /* footer */
 .footer{
  width: 1600px;
  height: 252px;
  top: 2094px;
 }
.link,.link-map{
  text-decoration: none;
}
.adress-link .link-map{
  color: #FFFFFF;
}
.adress-link .link{
  color: rgba(255, 255, 255, 0.6);
}
