:root {
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --accent-color:#2196F3;
  --primary-white-color:#FFFFFF;
  --accent-white-color:rgba(255, 255, 255, 0.6);
  --background-color:#2F303A;
  --background-white-color:#F5F4FA;
}
ul{list-style: none;}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px; 
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color)
}
.site-nav .link.current{
  color: var(--accent-color);
}
/* Шапка */
.header{
  display: flex;
  height: 80px;
  width: 1600px;
}
.header .link:hover,
.header .link:focus,
.adress-link .link:focus,
.adress-link .link:hover,
.adress-link .link-map:focus,
.adress-link .link-map:hover{
  color: var(--accent-color);
  transition-duration: 0.4s;
}

/* logo */
.logo{
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo.top{
  color:#000000;
}
.logo.bot{
  color: var(--primary-white-color);
}
.web {
  color: var(--accent-color);
}

/* nav */

.site-nav .link{
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;

}
.contacts .link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
}
/* hero */

.hero,
.footer{
  background-color:var(--background-color);
}
.hero{
  text-align: center;
}
.hero-name{
  color:var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

/* buttons */


.buttons{
  color: var(--title-text-color);
  background-color:var(--background-white-color);
  border-radius: 4px;
  font-family: 'Roboto';
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
}
.buttons.prime{
  color:var(--primary-white-color);
  background-color:var(--accent-color);
  box-shadow: 0px 4px 4px 0px #00000040;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.buttons.prime:hover,
.buttons.prime:focus,
.buttons.prime:active{
  color: var(--background-white-color);
  /* трохи освітлив при наведені,для виділення */
  background-color:#00BFFF;
}

.buttons.second{
  background-color:var(--background-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.buttons.second:hover,
.buttons.second:focus,
.buttons.second:active{
  color: var(--primary-white-color);
  background-color:var(--accent-color);
  box-shadow: 0px 4px 4px 0px #00000040;
}

/* section features*/
.invizible{display: none;}

.title-features{
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
}
.text-features{
  line-height: 1.71;
}
/* section team */
.team{
  background-color:var(--background-white-color);
}
.section-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}
.team .title{
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  color: var(--title-text-color);
}
.team .text{
  font-size: 16px;
  line-height: 1.19;
}
/* Приклади робіт */

.portfolio .title{
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .text{
  font-size: 16px;
  line-height: 1.85;
}
/* footer */
.link,.link-map{
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
}
.adress-link .link-map{
  color: #FFFFFF;
}
.adress-link .link{
  color: rgba(255, 255, 255, 0.6);

}
