:root {
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --accent-color:#2196F3;
  --primary-white-color:#FFFFFF;
  --accent-white-color:rgba(255, 255, 255, 0.6);
  --background-color:#2F303A;
  --background-white-color:#F5F4FA;
  --icon-color:#AFB1B8;
  --portfolio-hover-bg:rgba(33, 150, 243, 0.9);
  --text-bg-color:#EEEEEE;
}

html{
 box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px; 
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  margin: 0;
  fill: var(--primary-text-color);
}
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list{
  list-style:none;
  margin: 0;
  padding: 0;
}

/* Шапка */
.header{
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}
.ico{
  fill: currentColor;
  margin-right: 10px;
}
.header .link:hover,
.header .link:focus{
  color: var(--accent-color);
  fill: var(--accent-color);
}
.adress-link .link:focus,
.adress-link .link:hover{
  color: var(--accent-color);
}
.link{
  text-decoration: none;
}
.header .container{
  display: flex;
  width: 1200px;
  height: 80px;
}
.current{
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
/* logo */
.logo{
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo.top{
  color:#000000;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo.bot{
  color: var(--primary-white-color);
  display: inline-block;
  margin-bottom: 11px;
}
.web {
  color: var(--accent-color);
}

/* nav */
.main-nav{
  display: flex;
  align-items: center;
}

.site-nav .link.current{
  color: var(--accent-color);
}
.site-nav{
  display: flex;
}
.site-nav .item + .item{
  margin-left: 50px;
}
.site-nav .link{
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  
}
.contacts-link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts{
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  margin-left: auto;
}
.contacts .item + .item{
  margin-left: 50px;
}
.item .link{
  display: flex;
  align-items: center;
}

/* hero */

.container-hero{
  text-align: center;
  background-color:var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-image:
  url(/images/hero-Img.jpg),
  linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4));
}
.hero-name{
  color:var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}


/* buttons */


.buttons{
  color: var(--title-text-color);
  background-color:var(--background-white-color);
  border-radius: 4px;
  font-family: 'Roboto';
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 6px 22px;
  min-height: 38px;
  transition: 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons.prime{
  color:var(--primary-white-color);
  background-color:var(--accent-color);
  box-shadow: 0px 4px 4px 0px #00000040;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.hero-butt{
  min-width:216px;
  min-height:50px;
}
.buttons.prime:hover,
.buttons.prime:focus,
.buttons.prime:active{
  color: var(--background-white-color);
}

.buttons.second{
  background-color:var(--background-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.buttons.second:hover,
.buttons.second:focus,
.buttons.second:active{
  color: var(--primary-white-color);
  background-color:var(--accent-color);
  box-shadow: 
  0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* section features*/
.invizible{display: none;}

.section-features .list{
  display: flex;
  flex-wrap: wrap;
}
.section-features .container{
  padding-bottom: 94px;
  padding-top: 94px;
}
.features-item{
  width: 270px;
}
.list .features-item + .features-item{
  margin-left: 30px;
}
.list .title-features,
.list .title{
  margin-top: 0;
  margin-bottom: 10px;
}

.title-features{
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}
.text-features{
  line-height: 1.71;
  margin: 0;
}
.features-svg{
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-white-color);
  margin-bottom: 30px;
}
/* What are we doing */
.what-are-we-doing{
  padding-bottom: 94px;
}
.container-title .section-title{
padding-top: 0;
margin-bottom: 50px;
}

.list{
  display: flex;
  flex-wrap: wrap;
}

.list .doing-item{
  display: inline-flex;
}

.list .doing-item + .doing-item{
  margin-left: 30px;
}

.about-img-over {
  position: relative;
}

.about-over-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}
/* section team */
.team{
  background-color:var(--background-white-color);
  text-align: center;
}
.team-container{
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-hame .title{
  margin-bottom: 0px;
  padding: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.team-hame{
  padding: 30px 32px;
}
.team-item{
  box-shadow: 
  0px 1px 3px rgb(0 0 0 / 12%),
  0px 1px 1px rgb(0 0 0 / 14%),
  0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.list .team-item + .team-item{
  margin-left: 30px;
}

.section-title{
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}
.team .title{
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team .text{
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
.list-icon{
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.icons{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons:hover,
.icons:focus{
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* Постійні клієнти */
.clients{
  padding:94px 0;
}

.clients-link{
  width: 170px;
  height: 92px;
  fill: var(--icon-color);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-clients{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .icon-clients,
.clients-link:focus .icon-clients{
  fill: var(--accent-color);
}
.clients-link:hover,
.clients-link:focus{
  border-color: var(--accent-color);
}
/* footer */
.footer{
  background-color:var(--background-color);
  padding: 60px;
}
.footer-flex{
  display: flex;
  align-items: baseline;
}
.footer-icon{
  fill: var(--primary-white-color);
  background: rgba(255, 255, 255, 0.1);
}
.footer-icon{
  margin-right: 10px;
}
.footer-icon-box{
margin-left: 70px;

}
.footer-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.link-map{
  color: var(--primary-white-color);
  font-style: normal;
}
.link-footer{
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer-item{
  margin-top: 9px;
}
.footer-list{
 display: flex;
 flex-direction: column;
  
}

/* portfolio */
.portfolio .title{
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
  padding: 0;
  letter-spacing: 0.06em;
}
.portfolio .text{
  font-size: 16px;
  line-height: 1.85;
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}
.portfolio{
  padding-top: 94px;
  padding-bottom: 94px;
}
.buttons-nav{
  width: 575px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 50px;
}

.list .portfolio-item{
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}
.portfolio-link{
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus{
  box-shadow: 
  0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}
.list .portfolio-item:nth-child(3n){
  margin-right: 0%;
}
.list .portfolio-item:nth-last-child(-n+3){
  margin-bottom: 0%;
}
.portfolio-card{
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-card .title{
  margin-bottom: 4px;
}
 .img{
  display: block;
}
.portfolio-img-text-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  margin: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-bg-color);
  background-color: var(--portfolio-hover-bg);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text {
  transform: translateY(0%);
}
 /* modal */


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  padding: 6px;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}