.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter__btn {
  font-weight: 500;
  font-style: inherit;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: var(--filter-bg);
  border-radius: 4px;
  border: transparent;
  padding: 6px 20px;
  transition-property: background-color, border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--main-text-bg-color);
    background: var(--main-hover-focus-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__btn-current {
  background: var(--main-hover-focus-color);
  color: var(--main-text-bg-color);
}
