.header {
  border-bottom: 1px solid var(--header-bottom-border);
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-studio {
  color: var(--logo-studio);
}

.navigation__list {
  display: flex;
  column-gap: 30px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--main-hover-focus-color);
  }
}

.current {
  color: var(--main-hover-focus-color);
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    background-color: var(--main-hover-focus-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}

.contacts {
  margin-left: auto;
}

.contacts__list {
  display: flex;
  column-gap: 30px;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--main-hover-focus-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
