.header {
  border-bottom: 1px solid var(--header-bottom-border);
  position: relative;
  & .container {
    display: flex;
    align-items: center;
    height: 60px;
    @include tablet {
      height: 80px;
    }
  }
  &-logo {
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &-studio {
    color: var(--logo-studio);
  }
}

.navigation {
  @media screen and (max-width: 767px) {
    display: none;
  }
  &__list {
    display: flex;
    column-gap: 30px;
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--main-hover-focus-color);
    }
  }
}

.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  margin-left: auto;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    @include desktop {
      flex-direction: row;
      gap: 30px;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--main-hover-focus-color);
    }
    @include desktop {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
