.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms;
  overflow-y: scroll;
  padding: 94px 15px;
  z-index: 2;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 100%;
  height: 609px;
  position: relative;
  background-color: var(--main-text-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  @include mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    height: 609px;
  }
  @include desktop {
    width: 528px;
    height: 581px;
  }
  &__close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    fill: var(--modal-close-btn);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--main-hover-focus-color);
    }
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 12px;
    @media screen and (min-width: 349px) {
      font-size: 18px;
    }
    @include mobile {
      font-size: 20px;
    }
  }
  &-btn {
    display: block;
    width: 200px;
    height: 50px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-text-bg-color);
    background-color: var(--main-hover-focus-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--second-hover-focus-color);
    }
  }
}

.input-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  &__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--second-title-color);
    margin-bottom: 4px;
  }
  &__field {
    width: 100%;
    height: 40px;
    border: 1px solid var(--modal-form-input-border);
    border-radius: 4px;
    padding-left: 42px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    &:focus {
      border: 1px solid var(--main-hover-focus-color);
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__field:focus + .input-wrap__icon {
    fill: var(--main-hover-focus-color);
  }
}

.comment-wrap {
  margin-bottom: 20px;
  &__label {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--modal-form-input-comment);
    border: 1px solid var(--modal-form-input-border);
    border-radius: 4px;
    padding: 12px 16px;
    outline: transparent;
    resize: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border: 1px solid var(--main-hover-focus-color);
    }
    &::placeholder {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: var(--modal-form-input-comment);
    }
  }
}

.agreement {
  display: inline-block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-align: center;
  margin-bottom: 30px;
  @include mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
  & span {
    @media screen and (max-width: 479px) {
      display: inline-block;
    }
    display: flex;
    content: "";
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-title-color);
    border-radius: 2px;
    margin-right: 8.38px;
    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__check-icon {
    fill: transparent;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__conditions {
    color: var(--main-hover-focus-color);
  }
}

.input-check:checked + .agreement span {
  background-color: var(--main-hover-focus-color);
  border: none;
}

.input-check:checked + .agreement .agreement__check-icon {
  fill: var(--main-text-bg-color);
}
