:root {
  --main-title-color: #212121;
  --second-title-color: #757575;
  --hero-bg: #c4c4c4;
  --main-hover-focus-color: #2196f3;
  --second-hover-focus-color: #188ce8;
  --main-text-bg-color: #ffffff;
  --footer-bg: #2f303a;
  --filter-bg: #f5f4fa;
  --logo-studio: #000000;
  --footer-mail-tel: rgba(255, 255, 255, 0.6);
  --portfolio-item-bg-border: #eeeeee;
  --header-bottom-border: #ececec;
  --clients-border: #afb1b8;
  --footer-social-link-background: rgba(255, 255, 255, 0.1);
  --portfolio-overlay: rgba(33, 150, 243, 0.9);
  --about-overlay-bg: rgba(47, 48, 58, 0.8);
  --modal-form-input-border: rgba(33, 33, 33, 0.2);
  --subscribe-input-info-border: rgba(255, 255, 255, 0.3);
  --subscribe-input-info-text: rgba(255, 255, 255, 0.6);
  --modal-form-input-comment: rgba(117, 117, 117, 0.5);
  --modal-close-btn: #000000;
  --hero-gradient: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}
