.about {
  padding-bottom: 94px;
}

.activities__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.activities__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.activities__img-over {
  position: relative;
}

.activities__over-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-bg-color);
  background-color: var(--about-overlay-bg);
}
