.companies__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.companies__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.companies__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clients-border);
  border: 1px solid var(--clients-border);
  border-radius: 4px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--main-hover-focus-color);
    border: 1px solid var(--main-hover-focus-color);
  }
}

.companies__icon {
  fill: currentColor;
}
