.features {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--filter-bg);
  border-radius: 4px;
  margin-bottom: 30px;
  @include mobile {
    width: 450px;
  }
  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }
}

.advantages__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  @include mobile {
    width: 450px;
  }
  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }
}
