.hero {
  background: var(--hero-bg);
  padding-top: 118px;
  padding-bottom: 118px;
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  &__overlay {
    max-width: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-image: var(--hero-gradient),
      url(..//../images/hero/hero-mob1x.jpg);
    @include retina {
      background-image: var(--hero-gradient),
        url(..//../images/hero/hero-mob2x.jpg);
    }
    @include tablet {
      background-image: var(--hero-gradient),
        url(..//../images/hero/hero-tab1x.jpg);
      max-width: 768px;
      @include retina {
        background-image: var(--hero-gradient),
          url(..//../images/hero/hero-tab2x.jpg);
      }
    }
    @include desktop {
      background-image: var(--hero-gradient),
        url(..//../images/hero/hero-desk1x.jpg);
      max-width: 1600px;
      @include retina {
        background-image: var(--hero-gradient),
          url(..//../images/hero/hero-desk2x.jpg);
      }
    }
  }
}

.offer__title {
  display: block;
  max-width: 360px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-text-bg-color);
  margin: 0 auto;
  margin-bottom: 30px;
  @media screen and (min-width: 389px) {
    font-size: 26px;
  }
  @include desktop {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.offer__btn {
  display: block;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-style: inherit;
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-text-bg-color);
  background-color: var(--main-hover-focus-color);
  border: transparent;
  border-radius: 4px;
  box-shadow: transparent;
  margin: 0 auto;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--second-hover-focus-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  @include desktop {
    width: 216px;
  }
}
