.team {
  background: var(--filter-bg);
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.staff__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 30px;
  @include desktop {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.staff__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.staff__bg {
  max-width: 450px;
  height: auto;
  background: var(--main-text-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @include tablet {
    max-width: 354px;
  }
  @include desktop {
    max-width: 270px;
  }
}

.staff__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.staff__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.staff__profession {
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 16px;
}

.staff-social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.staff-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--clients-border);
  background-color: var(--main-text-bg-color);
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--main-text-bg-color);
    background-color: var(--main-hover-focus-color);
  }
}

.staff-social__icon {
  fill: currentColor;
}
